body {
    margin: 0;
    padding: 0;
}

#playerone {
    background-color: red;
    height:100%;
    width:50%;
    position: fixed;
    left:0.1px;
    border: 1px solid black;
    text-align: center;
}

#playertwo {
    height:100%;
    width:50%;
    position: fixed;
    right:0.1px;
    border: 1px solid black;
    text-align: center;
}
#nameone {
    font-family: cursive;
    font-size: 10em;
}
#nametwo {
    font-family: cursive;
    font-size: 10em;
}

#onetotal {
    font-family: cursive;
    text-align: center;
    border: 2px solid black;
    bottom: 400px;
    position:fixed;
    left: 300px;
    height: 200px;
    width: 300px;
    font-size: 5em;
}

#onecurrent {
    font-family: cursive;
    position:fixed;
    bottom: 100px;
    left: 300px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    font-size: 5em;
}
#twototal {
    font-family: cursive;
    text-align: center;
    border: 2px solid black;
    bottom: 400px;
    position:fixed;
    right: 300px;
    height: 200px;
    width: 300px;
    font-size: 5em;
}
#twocurrent {
    font-family: cursive;
    position:fixed;
    bottom: 100px;
    right: 300px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    font-size: 5em;
}

#newgame {
    background-color:transparent;
    font-size: 1.5em;
    font-family: cursive;
    position: fixed;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    top: 200px;
    right: 880px;
    background-color: teal;
    color: thistle;    
}

#roll {
    background-color:transparent;
    font-size: 1.5em;
    font-family: cursive;
    position: fixed;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    bottom: 250px;
    right: 880px;
    background-color: teal;
    color: thistle; }

#hold {
    background-color:transparent;
    font-size: 1.5em;
    font-family: cursive;
    position: fixed;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    bottom: 150px;
    right: 880px;
    background-color: teal;
    color: thistle; }

#result {
    position: fixed;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    bottom: 400px;
    right: 860px;
}
@media screen and (max-width: 480px) {
    body {
      position: fixed;    
    }
    #playerone, #playertwo {
        font-size: 0.3em;
    }
    #newgame, #hold, #roll {
        font-size: .5em;
        height: 30px;
        width: 60px;
        right:43%;
    }
    #newgame {
        top:12%;
    }
    #hold {
        top: 75%;
    }
    #roll {
        top: 65%;
    }
    #onecurrent, #onetotal, #twocurrent, #twototal {
        height: 50px;
        width: 150px;
    }
    #result {
        right: 24%;
        top: 20%;
    }
    #twocurrent, #twototal {
        right: 5%;
    }
    #twototal, #onetotal {
        top: 52%;
    }
    #twocurrent, #onecurrent {
        top: 85%;
    }
    #onecurrent, #onetotal {
        left: 5%;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        position: fixed;    
      }
      #playerone, #playertwo {
          font-size: 0.6em;
      }
      #newgame, #hold, #roll {
          font-size: 1.2em;
          height: 60px;
          width: 120px;
          right:43%;
      }
      #newgame {
          top:15%;
      }
      #hold {
          top: 75%;
      }
      #roll {
          top: 65%;
      }
      #onecurrent, #onetotal, #twocurrent, #twototal {
          height: 100px;
          width: 300px;
      }
      #result {
          right: 37%;
          top: 25%;
      }
      #twocurrent, #twototal {
          right: 5%;
      }
      #twototal, #onetotal {
          top: 52%;
      }
      #twocurrent, #onecurrent {
          top: 85%;
      }
      #onecurrent, #onetotal {
          left: 5%;
      }
  }
  @media (min-width: 1025px) and (max-width: 1500px) {
    body {
        position: fixed;    
      }
      #playerone, #playertwo {
          font-size: 0.8em;
      }
      #newgame, #hold, #roll {
          font-size: 1.2em;
          height: 60px;
          width: 120px;
          right:46%;
      }
      #newgame {
          top:20%;
      }
      #hold {
          top: 75%;
      }
      #roll {
          top: 62%;
      }
      #onecurrent, #onetotal, #twocurrent, #twototal {
          height: 100px;
          width: 300px;
      }
      #result {
          right: 42%;
          top: 32%;
      }
      #twocurrent, #twototal {
          right: 5%;
      }
      #twototal, #onetotal {
          top: 52%;
      }
      #twocurrent, #onecurrent {
          top: 80%;
      }
      #onecurrent, #onetotal {
          left: 5%;
      }
  }